* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

header {
    font-family: 'Big Shoulders Display', cursive;
    width: 100%;
    background-color: black;
    display: flex;
    position: fixed;
    top: 0;
}

.header li {
    list-style-type: none;
}

.header_logo {
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 2%;
    cursor: pointer;
    font-weight: 800;
}

.header_logo img {
    height: 60px;
    width: 260px;
}

nav {
    margin: 36px 5% 25px auto;
}

.topNav a {
    color: white;
    text-align: center;
    padding: 12px 16px;
    font-size: 32px;
    font-weight: bold;
}

.topNav a:hover {
    color: darkgrey;
    cursor: pointer;
}

.topNav a.icon {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.first_block {
    font-family: 'Big Shoulders Display', cursive;
    background-color: black;
}

.first_block h1 {
    text-align: center;
    font-weight: normal;
    font-size: 64px;
    color: white;
    margin-top: 290px;
    margin-bottom: 12%;
}

.second_block .description {
    display: flex;
}

.second_block h1 {
    font-size: 64px;
    font-family: 'Big Shoulders Display', cursive;
    text-align: center;
}

.second_block li {
    font-family: 'Fira Sans', sans-serif;
    font-size: xx-large;
    margin-bottom: 16px;
}

.second_block ul {
    margin-top: 64px;
    width: 40%;
    margin-left: 10%;
}

.second_block img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 64px 10% auto auto;
}

.third_block {
    font-family: 'Fira Sans', sans-serif;
}

.third_block h1 {
    font-size: 64px;
    font-family: 'Big Shoulders Display', cursive;
    text-align: center;
}

.contacts_header {
    width: 100%;
}

.contacts img {
    margin-top: 128px;
    height: 256px;
    width: 256px;
}

.contacts p {
    margin-bottom: 128px;
    text-align: center;
}

.contacts a {
    color: black;
}

.third_block .contacts {
    display: flex;
    justify-content: space-around;
}

.arrow-7 {
    margin-left: 50%;
    margin-bottom: 10%;
}
.arrow-7 span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}